<!DOCTYPE html>
<html>
    <body>
        
        
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
        <script>
            var evaluation = '{{ filtered_data[5]["Eval"] }}';
            var positions = {{ filtered_data | tojson }};
        </script>
        

        <h1>PositionGuessr V0.1</h1>
        <div class = 'main-content'>
            
            <div id = 'board'>
                {{ filtered_data[5]['SVG'] | safe }}
        
            </div>
            <div id = "right-panel">
            <div id = "choiceButtons">
                <img class = 'image-btn' src="{{ url_for('static', filename='wking.png') }}" id = "whiteWinning" onclick = 'sendAnswer("white")'> 
                <img class = 'image-btn' src="{{ url_for('static', filename='bking.webp') }}"id = "blackWinning" onclick = 'sendAnswer("black")'>
                <img class = 'image-btn' src="{{ url_for('static', filename='equal.jpg') }}" id = "equal" onclick = 'sendAnswer("equal")'>
            
        </div>

            <div id = 'result'>
                <p id = "resultText"></p>
            </div>
        </div>
        </div>
        <script type = 'module' src="{{ url_for('static', filename='main.js') }}"></script>
</body>
    
</html>