<!DOCTYPE html>
<html>
    <body>
        
        
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
        <script>
            var evaluation = '{{ eval }}';
        </script>
        <script src="{{ url_for('static', filename='main.js') }}"></script>

        <h1>PositionGuessr V0.1</h1>
        <div class = 'main-content'>
            
            <div id = 'board'>
                {{ svg_board | safe }}
        
            </div>
            <div id = "choiceButtons">
                <img class = 'image-btn' src="{{ url_for('static', filename='wking.png') }}" id = "whiteWinning" onclick = 'sendAnswer("white")'> 
                <img class = 'image-btn' src="{{ url_for('static', filename='bking.webp') }}"id = "blackWinning" onclick = 'sendAnswer("black")'>
                <img class = 'image-btn' src="{{ url_for('static', filename='equal.jpg') }}" id = "equal" onclick = 'sendAnswer("equal")'>
            
        </div>

        <div id = 'result'>
            <p id = "resultText"></p>
        </div>
        </div>
</body>
    
</html>